{% extends 'skeleton.html' %}
{% block head %}
	<title>Edit Inventory</title>
{% endblock %}

{% block main %}
	<form class="form-horizontal" role="form" method="POST" action="/edit_item/" style="color: #1a1a00">
		{% csrf_token %}
  		<div class="form-group">
    		<label class="control-label col-sm-2" >Batch no.:</label>
    		<div class="col-sm-10">
      			<input type="text" name="batchno" class="form-control" id="batchno" value="{{item.0}}" placeholder="{{item.0}}" readonly>
    		</div>
 		</div>
  		<div class="form-group">
    		<label class="control-label col-sm-2" >Name.:</label>
    		<div class="col-sm-10">
      			<input type="text" name="name" class="form-control" id="name"  value="{{item.1}}" required>
    		</div>
 		</div>
  		<div class="form-group">
    		<label class="control-label col-sm-2" >Wholesaler:</label>
    		<div class="col-sm-10">
      			<input type="text" name="wseller" class="form-control" id="wseller"  value="{{item.2}}" required>
    		</div>
 		</div>
  		<div class="form-group">
    		<label class="control-label col-sm-2" >Retail Price:</label>
    		<div class="col-sm-10">
      			<input type="text" name="price" class="form-control" id="price"  value="{{item.3}}" required>
    		</div>
 		</div>
  		<div class="form-group">
    		<label class="control-label col-sm-2" >Category:</label>
    		<div class="col-sm-10">
      			<input type="text" name="category" class="form-control" id="category"  value="{{item.6}}" required>
    		</div>
 		</div>
 		<button type="submit" class="btn">Save changes</button>
 	</form>
	<form action="/delete_item/" method="GET">
		<input type="hidden" name="batchno" value="{{item.0}}">
		<button type="submit" class="btn btn-danger">Delete</button>
	</form>
{% endblock %}